{% extends "base.html" %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" href="{%static 'blog/css/style.css'%}">
{% endblock app_css %}

{% block header %}
<h1 class="display-5 fw-bold text-start" style="margin-top:100px">{{heading}}</h1>
<p class="col fs-4 lead text-start">{{subheading}}</p>
{% endblock header %}

{% block content-1 %}
    {% for post in posts  %}
    <div class="row" style="height: 400px;">
        <h1>{{post.title}}</h1>
        <p>{{post.body}}</p>
    </div>
    {% endfor %}
{% endblock content-1 %}

{% block content-2 %}
<div class="row" style="height: 400px;">
    <h1>content blog 2</h1>
</div>
{% endblock content-2 %}
