{% load static %}

<!-- <img id="banner" src="{% static banner %}" alt="">
<nav>
    <ul>
        {% for link, name in nav %}
            <li><a href="{{link}}">{{name}}</a></li>   
        {% endfor %}
    </ul>
</nav> -->

<nav class="navbar navbar-expand-sm fixed-top bg-body-tertiary navbar bg-dark" id="mynav" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img style="height: 30px;" src="{% static 'img/logo.png'%}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "index" %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url "blog:index" %}">Blog</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url "about:index" %}">About</a>
            </li>
        </ul>  
        </div>
    </div>
</nav>