{% extends "base.html" %}

{% block header %}
<h1 class="display-5 fw-bold">{{heading}}</h1>
<p class="col fs-4">{{subheading}}</p>
{% endblock header %}

{% block content %}
<div class="modal position-static d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">posts.Title</h5>
        </div>
        <div class="modal-body">
            <p>posts.publish</p>
            <p>posts.body</p>
            <p>posts.category</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block content-2 %}
<div class="row" style="height: 300px;">
    <h1>Overlord content 2</h1>
</div>
{% endblock content-2 %}