{% extends "base.html" %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" href="{%static 'about/css/style.css'%}">
{% endblock app_css %}

{% block header %}
<h1 class="display-5 fw-bold text-start" style="margin-top:200px">{{heading}}</h1>
<p class="col fs-4 lead text-start">{{subheading}}</p>
{% endblock header %}

{% block content-1 %}
<div class="row" style="height: 400px;">
    <h1>content about 1</h1>
</div>
{% endblock content-1 %}

{% block content-2 %}
<div class="row" style="height: 400px;">
    <h1>content about 2</h1>
</div>
{% endblock content-2 %}